.card-container {
  width: 100%;
  border-radius: 10px;
  background-color: var(--color-very-light-grayish-blue);
  font-weight: 700;
  color: var(--color-grayish-blue);
  border: 1px solid purple;
}

.card-container p,
.card-container h1 {
  margin-top: 1rem;
}

.card-container h1 {
  font-size: 50px;
}

.card-container h1 span {
  vertical-align: middle;
  font-size: 35px;
}

.card-container_text {
  border: 1px solid green;
}

.card-container_text 

.card-container_rules ul {
  border: 1px solid blue;
  list-style: none;
}

.card-container_rules li {
  border: 1px solid;
}

.card-container_rules span {
  width: 100%;
  border: 2px solid;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .card-container {
    height: 25rem;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
}
