.card-container {
  border-radius: 10px;
  background: var(--color-very-light-grayish-blue);
  box-shadow: 1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  font-weight: 700;
}

.card-container_text h1 {
  font-size: 75px;
}

.card-container_text h1 span {
  vertical-align: middle;
  font-size: 35px;
}

.card-container_rules ul {
  list-style: none;
}

.card-container_rules span {
  display: inline-block;
  vertical-align: middle;
  line-height: 2.5;
  width: 90%;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.card-container-button button {
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  background: var(--color-gradient);
  color: var(--color-very-light-grayish-blue);
  cursor: pointer;
  width: 90%;
  height: 40px;
}

.card-container-button button:hover {
  background: -webkit-linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid purple;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .card-container {
    width: 100%;
    height: 27rem;
    margin-top: 1rem;
  }

  .card-container_text,
  .card-container_text h1,
  .card-container_rules,
  .card-container_rules li,
  .card-container-button {
    margin-top: 1.5rem;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .card-container_text,
  .card-container_text h1,
  .card-container_rules,
  .card-container_rules li,
  .card-container-button {
    margin-top: 2rem;
  }

  .card-container {
    width: 26%;
    height: 30rem;
  }

  .card-container_text h1 {
    font-size: 80px;
  }
}
