.pricing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  margin: auto;
  font-family: var(--font-family);
  border: 1px solid green;
}

.pricing-container_text {
  border: 1px solid red;
}

.pricing-container_text h1 {
  color: var(--color-dark-grayish-blue);
}
.pricing-container_prices {
  display: flex;
  border: 1px solid blue;
}

.pricing-container_toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pricing-container_toggle p {
  color: var(--color-light-grayish-blue);
  font-weight: 700;
}
