.pricing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  margin: auto;
  border: 1px solid;
}

.pricing-container_text {
  border: 1px solid red;
}

.pricing-container_prices {
  display: flex;
  border: 1px solid blue;
}

.pricing-container_toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
