.toggle-container {
  display: flex;
  width: 70px;
  height: 32px;
  border: 1px solid black;
  background: var(--color-gradient);
  cursor: pointer;
  border-radius: 30px;
  padding: 3px;
}

.toggle-handle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-very-light-grayish-blue);
}

/* Attempt animations later on in new challenges or comeback here one day */

/* .inital {
}

.inactive {
  animation-name: slide-right;
  transform: translateX(36px);
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.active {
  transform: translateX(0px);
  animation-name: slide-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(36px);
    transform: translateX(36px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(36px);
    transform: translateX(36px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
} */
